/*@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@400;500&display=swap');*/
@import "./assets/css/values/colors.css";
@import "./assets/css/values/fonts.css";

*,
*:before,
*:after {
  box-sizing: border-box;
}

.App {
  font-size: 1rem;
}


button:focus,
a:focus {
    outline-color: var(--electron-blue);
}
