.header {
  padding: .5rem 1rem;
  display: flex;
  align-items: center;
}

.header__right-content {
  margin-left: auto;
}

.logo {
  display: inline-block;
  text-align: center;
  font-weight: 500;
  color: var(--dracula-orchid);
  text-decoration: none;
  transition: all .2s ease-in-out;
}

.logo__icon {
  font-size: 3rem;
}

.logo:hover {
  opacity: 0.8;
}

.menu {
  display: flex;
  align-items: center;
  list-style: none;
}

.menu__link {
  text-decoration: none;
}

.header-item {
  text-transform: uppercase;
  font-size: .8rem;
  font-weight: 500;
  padding: .5rem 1rem;
  color: var(--primary-text);
  transition: all .2s ease-in-out;
  cursor: pointer;
}

.header-item:hover {
  color: var(--accent);
}

.login-button {
  border: none;
  border-left: 1px solid var(--dracula-orchid);
  background-color: transparent;
}

.user__login-icon {
  margin-right: .6rem;
  display: inline-block;
  font-size: 1.2rem;
}

.user__login-text {
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
}
