/*@value default: #0F4C81;*/
/*@value gray-3: #F5F5F5;*/
/*@value gray-4: #F0F0F0;*/
/*@value gray-5: #D9D9D9;*/

:root {
    /* --default: #0f4c81; */
    --accent: hsl(214, 89%, 52%);

    --default: #3578E5;
    --red: #c00;
    --white: #fff;
    --fontSize: 1rem;
    --fullWidth: 100%;

    --gray-2: #fafafa;
    --gray-5: #d9d9d9;

    --city-lights: #dfe6e9;
    --pink-glamour: #ff7675;
    --orangeville: #e17055;
    --chi-gong: #d63031;
    --electron-blue: #0984e3;
    --dracula-orchid: #2d3436;
}

:root ._dark {
    --background: rgb(53, 54, 58);
    --primary-text: #E4E6EB;
    --accent: hsl(214, 89%, 52%);
}

:root .light {
    --background: #fff;
    --primary-text: #050505;
}
